{% extends 'base.html' %}
{% block content %}
<div class="container srch">
  <form method="POST" action="/search/">
  {% csrf_token %}
      <input type="text" name="srch" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
      <button>Search</button>
  </form>
</div>
<div class="container txt">
  
    <h2>Welcome To <b>HomeoPathic</b> Hospital Managment Sysyetm</h2>
  
  <p>
      <b>If there is new patient then it need to be SignIn else go through login enter <br>credential and see patient view </b>
  </p>
</div>

{% endblock %}